extends layout

block content
  .container.py-5
    .row.justify-content-center
      .col-md-6
        .card.shadow
          .card-body.p-5
            h2.text-center.mb-4 Create Account
            
            if error
              .alert.alert-danger= error
              
            form(method='post', action='/register')
              .row
                .col-md-6
                  .mb-3
                    label.form-label(for='firstName') First Name
                    input.form-control(type='text', id='firstName', name='firstName', required, value=formData ? formData.firstName : '')
                .col-md-6
                  .mb-3
                    label.form-label(for='lastName') Last Name
                    input.form-control(type='text', id='lastName', name='lastName', required, value=formData ? formData.lastName : '')
                    
              .mb-3
                label.form-label(for='email') Email Address
                input.form-control(type='email', id='email', name='email', required, value=formData ? formData.email : '')
                
              .mb-3
                label.form-label(for='phone') Phone Number (Optional)
                input.form-control(type='tel', id='phone', name='phone', value=formData ? formData.phone : '')
                
              .mb-3
                label.form-label(for='password') Password
                input.form-control(type='password', id='password', name='password', required, minlength='6')
                
              .mb-3
                label.form-label(for='confirmPassword') Confirm Password
                input.form-control(type='password', id='confirmPassword', name='confirmPassword', required, minlength='6')
                
              .d-grid
                button.btn.btn-primary.btn-lg(type='submit') Register
                
            .text-center.mt-3
              p Already have an account? 
                a(href='/login') Login here